<div class="row">
  <div data-controller="realmsTable" id="tableContainer" style="visibility:hidden;">
    <table class="table table-bordered table-light table-hover" id="realms-table">
      <thead >
        <tr>
          <th>
            Name
          </th>
          <th>
            Blizz Id
          </th>
          <th>
            Slug
          </th>
          <th>
            Region
          </th>
          <th>
            Status
          </th>
          <th>
            Population
          </th>
          <th>
            Category
          </th>
          <th>
            Locale
          </th>
          <th>
            Timezone
          </th>
        </tr>
      </thead>
    </table>
  </div>
</div>
