/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* #myTable tfooter tr td a {
  color: black;
}

body {
  background-color: black;
} */
/*
#main-container {
  padding: 1%;
} */

/* #tableContainer {
  border-style: solid;
} */

#realms-table tbody tr {
  cursor: pointer;
}

#wm-menu {
  position: fixed;
  width: 100%;
  padding-left: 25%;
  padding-right: 25%;
}

#wm-content {
    padding-top: 4%;
    margin-left: 30%;
    margin-right: 30%;
}

.page-link {
  color: #212529;
}

.page-item.active .page-link {
  background-color: #6C757D;
}

#wm-locales-dropdown {
  padding-bottom: 3%;
}

#wm-menu .dropdown {
  padding-right: 1%;
}
